@import url("./normalize.css");

:root {
  --color-bg: black;
  --color-text: white;
  --color-link-hover: blanchedalmond;
  --color-marker: cornflowerblue;
  --color-marker-hover: deepskyblue;
  --color-marker-active: aquamarine;

  --font-family: Arial, Helvetica, sans-serif;
  --font-size-text: 1rem;
  --font-size-head: 2rem;
  --font-line-height-text: 150%;
  --font-line-height-head: 120%;

  --slide-size: calc(100vw - 20rem);
  --navigation-size: calc((0.3rem * 2 + 0.5rem) * 5); 
  --margin-desktop: 3rem 10rem 0 10rem;
}

/* base */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: var(--color-bg);
  font-family: var(--font-family);
  color: var(--color-text);
}

body > * {
  margin: var(--margin-desktop);
}

.header {
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input[type=radio] {
  display: none;
}

h1 {
  font-size: var(--font-size-head);
  line-height: var(--font-line-height-head);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .3s;
}

a:hover {
  color: var(--color-link-hover);
}

/* slider */

.slider {
  display: grid;
  max-width: var(--slide-size);
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
}

/* slides */

.slider__slides {
  width: var(--slide-size);
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 3;
}

.slider__track-slides {
  width: calc(var(--slide-size) * 5);
  display: flex;
  transition: all .3s;
}

.slider__img {
  display: block;
  width: var(--slide-size);
  height: 100%;
}

input[type=radio]:nth-child(1):checked ~ .slider__slides > .slider__track-slides {
  transform: translateX(0);
}

input[type=radio]:nth-child(2):checked ~ .slider__slides > .slider__track-slides {
  transform: translateX(calc(-1 * var(--slide-size)));
}

input[type=radio]:nth-child(3):checked ~ .slider__slides > .slider__track-slides {
  transform: translateX(calc(-2 * var(--slide-size)));
}

input[type=radio]:nth-child(4):checked ~ .slider__slides > .slider__track-slides {
  transform: translateX(calc(-3 * var(--slide-size)));
}

input[type=radio]:nth-child(5):checked ~ .slider__slides > .slider__track-slides {
  transform: translateX(calc(-4 * var(--slide-size)));
}

/* caption */

.slider__caption {
  width: 100%;
  overflow: hidden;
}

.slider__track-caption {
  width: calc(100% * 5);
  display: flex;
  transition: all .2s;
}

.slider__text {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-text);
  line-height: var(--font-line-height-text);
  width: 100%;
}

input[type=radio]:nth-child(1):checked ~ .slider__caption > .slider__track-caption {
  transform: translateX(0);
}

input[type=radio]:nth-child(2):checked ~ .slider__caption > .slider__track-caption {
  transform: translateX(calc(-1 * (var(--slide-size) - var(--navigation-size))));
}

input[type=radio]:nth-child(3):checked ~ .slider__caption > .slider__track-caption {
  transform: translateX(calc(-2 * (var(--slide-size) - var(--navigation-size))));
}

input[type=radio]:nth-child(4):checked ~ .slider__caption > .slider__track-caption {
  transform: translateX(calc(-3 * (var(--slide-size) - var(--navigation-size))));
}

input[type=radio]:nth-child(5):checked ~ .slider__caption > .slider__track-caption {
  transform: translateX(calc(-4 * (var(--slide-size) - var(--navigation-size))));
}

/* navigation panel */

.slider__navigation {
  display: inline-flex;
}

.slider__wrapper-btn {
  padding: 0.3rem;
  cursor: pointer;
}

.slider__marker-btn {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-marker);
  cursor: pointer;
  transition: background .3s;
}

.slider__marker-btn:hover {
  background-color: var(--color-marker-hover);
}

.slider__wrapper-btn:hover > .slider__marker-btn {
  background-color: var(--color-marker-hover);
}

input[type=radio]:nth-child(1):checked ~ .slider__navigation > .slider__wrapper-btn:nth-child(1) > .slider__marker-btn {
  background-color: var(--color-marker-active);
}

input[type=radio]:nth-child(2):checked ~ .slider__navigation > .slider__wrapper-btn:nth-child(2) > .slider__marker-btn {
  background-color: var(--color-marker-active);
}

input[type=radio]:nth-child(3):checked ~ .slider__navigation > .slider__wrapper-btn:nth-child(3) > .slider__marker-btn {
  background-color: var(--color-marker-active);
}

input[type=radio]:nth-child(4):checked ~ .slider__navigation > .slider__wrapper-btn:nth-child(4) > .slider__marker-btn {
  background-color: var(--color-marker-active);
}

input[type=radio]:nth-child(5):checked ~ .slider__navigation > .slider__wrapper-btn:nth-child(5) > .slider__marker-btn {
  background-color: var(--color-marker-active);
}


